<p-card
  [class]="match().status === MatchStatus.LIVE ? 'h-full border-2 border-green-500/80 shadow-[0_0_15px_rgba(34,197,94,0.15)] relative overflow-hidden transition-all' : match().status === MatchStatus.SOON ? 'h-full border-2 border-yellow-500/80 shadow-[0_0_15px_rgba(234,179,8,0.15)] relative overflow-hidden transition-all' : 'h-full'">
  <ng-template #header>
    <div class="flex justify-between items-center p-4 pb-0">
      <span class="text-sm text-surface-400 font-semibold">{{ match().stage }}</span>
      <div class="flex items-center gap-2">
        @if (match().status === MatchStatus.LIVE) {
          <span class="relative flex h-2.5 w-2.5">
                <span
                  class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"></span>
                <span class="relative inline-flex rounded-full h-2.5 w-2.5 bg-green-500"></span>
              </span>
        } @else if (match().status === MatchStatus.SOON) {
          <span class="relative flex h-2.5 w-2.5">
                <span class="relative inline-flex rounded-full h-2.5 w-2.5 bg-yellow-500"></span>
              </span>
        }
        <p-tag [severity]="statusSeverity()" [value]="match().status"></p-tag>
      </div>
    </div>
  </ng-template>

  <div class="flex flex-col gap-4">
    <div class="flex justify-between items-center">

      <div class="flex flex-col items-center gap-2 w-[40%] text-center">
        <img
          [src]="'https://flagcdn.com/w40/' + match().team1.code + '.png'"
          [alt]="match().team1.name + ' flag'"
          class="w-10 shadow-sm rounded-sm"
        />
        <span class="text-lg truncate w-full" [title]="match().team1.name">
              {{ match().team1.name }}
            </span>
      </div>

      <div class="flex flex-col items-center justify-center w-[20%]">
        @if (match().score?.ft) {
          <div class="flex flex-col items-center gap-1">
            <div class="text-lg font-black bg-surface-800 px-3 py-1 rounded-md">
              {{ match().score!.ft[0] }} - {{ match().score!.ft[1] }}
            </div>
            <div class="text-xs text-surface-400">
              {{ match().localDate | date:'dd/MM' }}
            </div>
          </div>
        } @else {
          <div class="text-xl font-bold text-primary-400">
            {{ match().localDate | date:'HH:mm':'UTC-0300' }}
          </div>
          <div class="text-xs text-surface-400">
            {{ match().localDate | date:'dd/MM' }}
          </div>
        }
      </div>

      <div class="flex flex-col items-center gap-2 w-[40%] text-center">
        <img
          [src]="'https://flagcdn.com/w40/' + match().team2.code + '.png'"
          [alt]="match().team2.name + ' flag'"
          class="w-10 shadow-sm rounded-sm"
        />
        <span class="text-lg truncate w-full" [title]="match().team2.name">
              {{ match().team2.name }}
            </span>
      </div>
    </div>

    <p-divider class="my-1"></p-divider>

    <div class="flex justify-between items-center text-sm text-surface-400">
      <div class="flex items-center gap-1">
        <i class="pi pi-map-marker text-xs"></i>
        <span>{{ match().stadium.city }}</span>
      </div>

      @if (match().status === MatchStatus.FINISHED && match().score?.ft) {
        <p-button icon="pi pi-eye" label="Gols" severity="info" [text]="true" size="small"
                  class="flex items-center gap-2 p-0" (onClick)="showGoals()">

        </p-button>
      } @else if (match().status === MatchStatus.LIVE) {
        <div
          class="flex items-center gap-2.5 cursor-pointer group bg-surface-50 dark:bg-surface-800/50 hover:bg-surface-100 dark:hover:bg-surface-800 p-1.5 pr-3 rounded-xl border border-surface-200 dark:border-surface-700 hover:border-red-500/50 dark:hover:border-red-500/50 transition-all shadow-sm"
          (click)="openLink()">
          <div class="relative">
            <img src="caze.png" alt="CazéTV Logo"
                 class="w-12 rounded-lg shadow-sm group-hover:scale-105 transition-transform duration-300"/>
            <div class="absolute -top-1 -right-1 flex h-3 w-3">
              <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75"></span>
              <span
                class="relative inline-flex rounded-full h-3 w-3 bg-red-500 border-2 border-surface-0 dark:border-surface-800"></span>
            </div>
          </div>
          <div class="flex flex-col justify-center">
            <span
              class="text-[9px] text-surface-500 dark:text-surface-400 font-bold uppercase tracking-wider leading-none mb-1">Assista</span>
            <span
              class="text-xs font-bold text-red-600 dark:text-red-400 flex items-center gap-1 group-hover:text-red-500 transition-colors">
              <i class="pi pi-youtube text-[10px]"></i> Ao Vivo
            </span>
          </div>
        </div>
      }
    </div>
  </div>
</p-card>

<p-dialog header="Gols da Partida" [(visible)]="goalsDialogVisible" [modal]="true" [style]="{ width: '25rem' }">
  <div class="flex flex-col gap-4">
    <div class="flex justify-between">

      <div class="w-1/2 flex flex-col gap-2 border-r border-surface-200 dark:border-surface-700 pr-2">
        <div class="flex items-center gap-2 mb-2 font-semibold">
          <img
            [src]="'https://flagcdn.com/w20/' + match().team1.code + '.png'"
            class="w-5 shadow-sm rounded-sm"
            alt=""/>
          <span class="truncate">{{ match().team1.name }}</span>
        </div>
        @if (match().goals1?.length) {
          @for (goal of match().goals1; track $index) {
            <div class="flex items-center justify-between text-sm">
              <span class="truncate pr-2">{{ goal.name }}</span>
              <span class="text-surface-400 min-w-max">{{ goal.minute }}'</span>
            </div>
          }
        } @else {
          <div class="text-xs text-surface-400 italic">Sem gols</div>
        }
      </div>

      <div class="w-1/2 flex flex-col gap-2 pl-2">
        <div class="flex items-center gap-2 mb-2 font-semibold justify-end">
          <span class="truncate">{{ match().team2.name }}</span>
          <img
            [src]="'https://flagcdn.com/w20/' + match().team2.code + '.png'"
            class="w-5 shadow-sm rounded-sm"
            alt=""/>
        </div>
        @if (match().goals2?.length) {
          @for (goal of match().goals2; track $index) {
            <div class="flex items-center justify-between text-sm flex-row-reverse">
              <span class="truncate pl-2 text-right">{{ goal.name }}</span>
              <span class="text-surface-400 min-w-max">{{ goal.minute }}'</span>
            </div>
          }
        } @else {
          <div class="text-xs text-surface-400 italic text-right">Sem gols</div>
        }
      </div>
    </div>
  </div>
</p-dialog>
